
@{
    ViewBag.Title = "Lista Deudores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a>Opciones</a></li>
    <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-comments-dollar me-1"></i> Lista de Deudores
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col=12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Añadir Deudor</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Email</th>
                        <th>Monto Deuda</th>
                        <th>Monto Pagado</th>
                        <th>Monto Final</th>
                        <th></th>
                    </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Deudor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtnombre" class="form-label">Nombre(s)</label>
                        <input type="text" class="form-control" id="txtnombre">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtpaterno" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="txtpaterno">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtmaterno" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="txtmaterno">
                    </div>
                    <div class="col-sm-6">
                        <label for="prestamo" class="form-label">Cantidad Prestada($)</label>
                        <input type="number" class="form-control" id="prestamo">
                    </div>
                    <div class="col-sm-6">
                        <label for="txttelefono" class="form-label">Número de Telefono</label>
                        <input type="text" class="form-control" id="txttelefono">
                    </div>
                    <div class="col-sm-6">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="col-sm-6">
                        <label for="datefecha" class="form-label">Fecha del Prestamo</label>
                        <input type="datetime-local" class="form-control" id="datefecha">
                    </div>
                    <div class="col-sm-6">
                        <label for="diaCobro" class="form-label">Día de Cobro</label>
                        <input type="number" class="form-control" id="diaCobro">
                    </div>
                    <div class="col-sm-6">
                        <label for="meses" class="form-label">Meses</label>
                        <input type="number" class="form-control" id="meses">
                    </div>
                    <div class="col-sm-6">
                        <label for="intereses" class="form-label">Intereses(%)</label>
                        <input type="number" class="form-control" id="intereses">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tablaData;
        tablaData = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarDeudores","Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Nombre" },
                { "data": "Paterno"},
                { "data": "Email" },
                {
                    "render": function (data, type, row) {
                        return "$" + row["Prestamo"] * (1 + row["Intereses"] / 100)* row["Meses"];
                    }
                },
                {
                    "render": function (data, type, row) {
                        return "$" + row["Pagos"];
                    }
                },
                {
                    "render": function (data, type, row) {
                        return "$" + row["Prestamo"] * (1 + row["Intereses"]/100);
                    }
                },
                {
                    "defaultContent": '<button type="button" class = "btn btn-success btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class = "btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "ordenable": false,
                    "searchable": false,
                    "width": "90px"
                },
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
            },
         });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtnombre").val("");
            $("#txtpaterno").val("");
            $("#txtmaterno").val("");
            $("#prestamo").val("");
            $("#txttelefono").val(""),
            $("#email").val("");
            $("#datefecha").val("");
            $("#diaCobro").val("");
            $("#meses").val("");
            $("#intereses").val("");

            if (json != null) {
                $("#txtid").val(json.IdDeudor);
                $("#txtnombre").val(json.Nombre);
                $("#txtpaterno").val(json.Paterno);
                $("#txtmaterno").val(json.Materno);
                $("#prestamo").val(json.Prestamo);
                $("#txttelefono").val(json.Telefono);
                $("#email").val(json.Email);
                $("#datefecha").val(json.FechaPrestamo);
                $("#diaCobro").val(json.DiaCobro);
                $("#meses").val(json.Meses);
                $("#intereses").val(json.Intereses);
            }
            else {

            }
            $("#formModal").modal("show");
        }

        $("#tabla tbody").on("click", ".btn-editar", function () {
            var filaSeleccionada = $(this).closest("tr");

            var data = tablaData.row(filaSeleccionada).data();

            abrirModal(data);
        })

        function Guardar() {
            var Deudores = {
                IdDeudor: $("#txtid").val(),
                Nombre: $("#txtnombre").val(),
                Paterno: $("#txtpaterno").val(),
                Materno: $("#txtmaterno").val(),
                Prestamo: $("#prestamo").val(),
                Telefono: $("#txttelefono").val(),
                Email: $("#email").val(),
                FechaPrestamo: $("#datefecha").val(),
                DiaCobro: $("#diaCobro").val(),
                Meses: $("#meses").val(),
                Intereses: $("#intereses").val(),
                Pagos: $("#pagos").val(0),
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarDeudor","Home")',
                type: "POST",
                data: JSON.stringify({ objeto: Deudores }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //USUARIO NUEVO
                    if (Deudores.IdDeudor == 0) {
                        if (data.resultado != 0) {
                            Deudores.IdDeudor = data.resultado;
                            tabladata.row.add(Deudores).draw(false);
                            $("#formModal").modal("hide");
                        }
                        else {
                            alert(data.mensaje);
                        }
                    }
                    // Editar usuario
                    else {
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Deudores).draw(false);
                            filaSeleccionada = null;
                            $("#formModal").modal("hide");
                        } else {
                            alert(data.mensaje);
                        }
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            })
        }

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            var usuarioseleccionado = $(this).closest("tr");

            var data = tablaData.row(usuarioseleccionado).data();

            jQuery.ajax({
                url: "@Url.Action("EliminarDeudor","Home")",
                type: "POST",
                data: JSON.stringify({ id: data.IdDeudor }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        tablaData.row(usuarioseleccionado).remove().draw();

                    }
                    else {
                        alert("No se pudo eliminar");
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })

        })

    </script>
}